<body>
    

    <!-- Button to open the modal login form -->
    <button id="loginBtn">Go To Login Page</button>

    <!-- The Modal -->
    <div id="loginBody" class="modal">
        <span id="closeModal" class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form id="loginForm" action="/login" method="POST">

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" id="cancelBtn" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
    <script src="../static/loginPage.js"></script>
</body>