<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - LitFlix</title>
    <link rel="stylesheet" href="../static/loginPage.css">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h1>LITFLIX</h1>
            <p>START READING</p>
        </div>
        <!-- Display error msg if login is invalid -->
        {% if error %}
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
        {% endif %}
        <form id="loginForm" action="/login" method="POST">
            <input type="text" placeholder="Username" name="uname" required>
            <input type="password" placeholder="Password" name="psw" required>
            <div class="button-group">
                <button type="button" id="registerBtn" onclick="window.location.href='/createAccount'">Register</button>
                <button type="submit">Login</button>
            </div>
            <div class="forgot-password">
                <a href="/createAccount">Forgot password?</a>
            </div>
        </form>
    </div>
    <script src="../static/loginPage.js"></script>
</body>
</html>